<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="widht=device-width, initial-scale=1">
  <title>MI RED SOCIAL</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <!--comienza nav-->
  <div class="navbar-fixed">
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <a href="pagina1.html" class="brand-logo"><img src=../assets/images/logoBco.png alt="logo lab-car"></a>
        <a href="perfil.html" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">restaurant</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="perfil.html">Mi perfil</a></li>
          <li><a href="pagina1.html">Salir</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
      </div>
      <div class="nav-content">
        <ul class="menu">
          <li class="tab"><a href="newsfeed.html">Inicio</a></li>
          <li class="tab"><a href="amigos.html">Amigos</a></li>
          <li class="tab"><a href="eventos.html">Eventos</a></li>
          <li class="tab"><a href="shop.html">Shop</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <h4 class="center-align tittles">PRODUCTOS CON CAUSA</h4>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../assets/images/market.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Mercadito de productores organicos</span>
            <p><a href="#"></a></p>
          </div>
          <div class="card-reveal">
            <spa <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../assets/images/fondo.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">La shop vegana autosustentable</span>
            <p><a href="#"></a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../assets/images/deli.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Fonda comunitaria de estudiantes del colegio mexicano de Gastronomia </span>
            <p><a href="#"></a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../assets/images/macaronbig.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Los Macarons de Macarena A.C.</span>
            <p><a href="#"></a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../assets/images/minicake.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Tartaletas elaboradas en Fundacion Jonh Langdon Down A.C.</i></span>
            <p><a href="#"></a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Donas elaboradas en taller de panaderia basica Fundacion Jonh Langdon Down A.C.<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../assets/images/cupcoffe.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Proyecto cafe pendiente.</i></span>
            <p><a href="#"></a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Proyecto cafe pendiente.<i class="material-icons right">close</i></span>
            <p>Proyecto cafe pendiente.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Food Lovers</h5>
          <p class="grey-text text-lighten-4">"El unico amor sincero <br> ...es el amor por la comida"</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 LABORATORIA.
        <a class="grey-text text-lighten-4 right" href="#!">...</a>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="../js/app.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>
